<%= form_with(model: @auction, local: true) do |form| %>

   <% if @auction.errors.present? %>
    <p class="form-errors">
      <%= @auction.errors.full_messages.join(", ") %>
    </p>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :current_price %>
    <%= form.number_field :current_price %>
  </div>
  <div>
    <%= form.label :ends_at %>
    <%= form.date_field :ends_at %>
  </div>
   <%= form.submit %>
<% end %>
