<h3><%= @auction.title %></h3>
<p><%= @auction.body %></p>
<div>
  <small>
    Asked <%= time_ago_in_words(@auction.created_at)  %> ago
  </small>
</div>

<section>
  <h1>Bids</h1>
  <%= form_with(model: [@auction, @bid], local: true) do |f| %>
    <% if @bid.errors.present? %>
      <p class="form-errors">
        <%= @bid.errors.full_messages.join(", ") %>
      </p>
    <% end %>
    <div class="form-group">
      <%= f.text_area(
      :body, cols: 50, rows: 5,
      placeholder: "What are your bids...",
      class: "form-control"
      ) %>
    </div>
    <%= f.submit "Bid" %>
  <% end %>

  <hr />
    <ul class="bid-list">
      <% @bids.each do |bid| %>
        <li>
          <p>
          <%= bid.body %> <br />
          <small>
            Bided <%= time_ago_in_words(bid.created_at) %> ago
          </small>
        </p>
        </li>
      <% end %>
    </ul>
</section>
