<h3><%= @auction.title %></h3>
<p>
    <%= @auction.description %> <br />
    Current Price: <%= @auction.reserve_price %> <br />
    Ends at: <%= time_ago_in_words(@auction.ends_at) %> <br />
    Reserve Price not met <br/>
</p>

<section>
  <%= form_with(model: [@auction, @bid], local: true) do |f| %>
    <% if @bid.errors.present? %>
      <p class="form-errors">
        <%= @bid.errors.full_messages.join(", ") %>
      </p>
    <% end %>
    <div class="form-group">
      <%= form.label :price %>
      <%= f.number_field :price %>
    </div>
    <%= f.submit "Bid" %>
  <% end %>
  <h3><u>Previous Bids</u></h3>
  <hr />
    <ul class="bid-list">
      <% @bids.each do |bid| %>
        <li>
          <p>
           $<%= bid.price %> on <%= time_ago_in_words(bid.created_at) %> <br />
        </p>
        </li>
      <% end %>
    </ul>
</section>
